{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PRIL</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/novo/favicon.jpeg' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.jpeg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed" style="background-color: #fccd2c;">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="/#intro" class="scrollto"><img src="{% static 'img/novo/logo.png' %}" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container" >
        <ul class="nav-menu">          
          <li class="menu-active"><a class="color_text" href="/#intro">Início</a></li>
          <li><a class="color_text" href="/#about">Sobre</a></li>
          <li><a class="color_text" href="/#schedule">Programação</a></li>
          <!-- <li><a href="/#speakers">Palestrantes</a></li> -->
          <li><a class="color_text" href="/#contact">Contato</a></li>
          <!-- <li class="buy-tickets"><a href="https://drive.google.com/drive/folders/1vNoPuVcldJCxpzYnmeqKyXqUI-gJLhRe?usp=sharing" target="_blank">Certificados</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

  {% block content %}

  {% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" style="background-color: #fccd2c;">
    <div class="footer-top" style="background-color: #fccd2c;">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12 footer-links">
            <h4>Realização</h4>
            <div class="row">
              <div class="col">
                <img src="{% static 'img/novo/cead.png' %}" alt="Realização" style="background-color: #ffffff; height: 100%; width: 100%; object-fit: contain;">
              </div>
              <div class="col">
                <!-- <img src="{% static 'img/novo/pense_piaui.webp' %}" alt="Realização" style="background-color: #ffffff; height: 100%; width: 100%; object-fit: contain"> -->
              </div>
              <div class="col">
                <!-- <img src="{% static 'img/novo/uab.png' %}" alt="Realização" style="background-color: #ffffff; height: 100%; width: 100%; object-fit: contain"> -->
              </div>
              <div class="col">
                <!-- <img src="{% static 'img/novo/unirede.png' %}" alt="Apoio" style="background-color: #ffffff; height: 100%; width: 100%; object-fit: contain"> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
      <div class="credits">
        Desenvolvido por Futuring
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>