{% extends 'core/base.html' %}

{% load static %}

{% block content %}

  {% if mensagem is not None %}
  <script>
    alert("{{mensagem}}")
  </script>
  {% endif %}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <!-- <h1 class="mb-4 pb-0"><span>I Encontro de Formação dos docentes do PRIL</span></h1> -->
      <!-- <h1 class="mb-4 pb-0" style="color: #000000">II Simpósio Nordestino de Mídias Digitais para Educação</h1> -->
      <!-- <p class="mb-4 pb-0" style="color: #000000">03 e 04 de março de 2022<br>Evento On-line<br><br>Educação a Distância a partir da pandemia da Covid-19: formas novas de ensinar e aprender</p> -->
      <!-- <a href="#about" class="about-btn scrollto">Sobre o Evento</a> -->
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="color_text">Sobre o Evento</h2>
            <p class="color_text">Você é nosso convidado para participar da Formação docente Pril. Os eventos serão realizados pelo Centro de Educação Aberta e a Distância da Universidade Federal do Piauí (CEAD/UFPI), nos dias 03 e 04 de março de 2022.</p>
            <!-- <p class="color_text">Este ano o Seminário terá programação inteiramente virtual e será dedicada ao tema “Educação a Distância a partir da pandemia da Covid-19: formas novas de ensinar e aprender”. A temática fortalecerá o diálogo entre professores, pesquisadores e estudantes em palestras, mesas de debates e oficinas, com o objetivo principal de compartilhar experiências acerca das formas novas de ensinar e de aprender no cenário da Educação a Distância a partir da pandemia da Covid-19.</p> -->
            <!-- <p class="color_text">Os seminários regionais UniRede são eventos realizados anualmente em cada região do país com o objetivo de atualizar os associados e os potenciais associados sobre as ações que a instituição vem desenvolvendo, além de discutir temáticas relacionados à educação superior a distância. Os eventos permitem identificar as demandas regionais, ao mesmo tempo em que propiciam espaços de formação e de divulgação das ações da UniRede entre as instituições parceiras e associadas, bem como com a sociedade em geral.</p> -->
            <!-- <p class="color_text">As conclusões resultantes dos debates realizados durante o Seminário Regional UniRede - Região Nordeste serão registradas e encaminhadas para aprofundamento e integração com as demais regiões do país no Seminário Nacional, no Congresso Brasileiro de Ensino Superior a Distância (ESUD) e no Congresso Internacional de Educação Superior a Distância (CIESUD), que serão realizados de forma online <a href="https://esud2021.ufrn.br" target="_blank" style="color: #000000; text-decoration: underline;">https://esud2021.ufrn.br</a>) no período de 19 a 22 de outubro de 2021.</p> -->
          </div>
        </div>
        <br>
        <br>
        <div class="col-lg-12">
          <h3 class="color_text">COMISSÃO ORGANIZADORA</h3>
          <div class="row">
            <div class="col">
              <p class="color_text">Prof. Dra. Lívia Fernanda Nery da Silva.</p>
              <p class="color_text">Francisco Jair de Oliveira Neres</p>
              <p class="color_text">Leônidas Pereira de Abreu</p>
              <p class="color_text">Cleânia de Sales Silva</p>
              <p class="color_text">Carla Maria De Carvalho Leite</p>
              <!-- <p>Arnaldo Oliveira Souza Júnior</p>
              <p>Eliesé Idalino Rodrigues</p>
              <p>Elys Raquel Andrade Ferreira Borges</p>
              <p>Florisvaldo Clementino Santos</p>
              <p>Jonathan da Rocha Martins</p> -->
            </div>
            <div class="col">
              <!-- <p>José Vanderlei Carneiro</p>
              <p>Leônidas Pereira de Abreu</p>
              <p>Liana Rosa Brito Cardoso</p>
              <p>Lívia Fernanda Nery da Silva</p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Programação</h2>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" style="background-color: #fccd2c; color: black;" href="#day-1" role="tab" data-toggle="tab">Quinta, 03</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="background-color: #fccd2c; color: black;" href="#day-2" role="tab" data-toggle="tab">Sexta, 04</a>
          </li>
        </ul>

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <!-- <div class="col-md-2"><time>15h30min às 9h30min</time></div> -->
              <div class="col-md-2"><time>15h</time></div>
              <div class="col-md-10">
                <h4>Abertura</h4>
                <a href="https://www.youtube.com/user/ceadufpi" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <!-- <a href="https://youtu.be/Obl0RQssOOk" target="_blank" style="color: blue; font-weight: bold;">Acesse</a> -->
                <br>
                <br>
                <!-- <p>Gildásio Guedes Fernandes - Reitor da UFPI</p>
                <p>Alexandre Martins dos Anjos – Presidente da UNIREDE</p>
                <p>Lívia Fernanda Nery da Silva – Diretora do CEAD/UFPI</p>
                <p>Evandro Alberto de Sousa – Reitor UESPI</p>
                <p>Paulo Borges da Cunha – Reitor IFPI</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>15h30min às 16h30min</time></div>
              <div class="col-md-10">
                <h4>Mesa Redonda: PRIL - Ações para implantação da proposta nas IFES</h4>
                <a href="https://www.youtube.com/user/ceadufpi" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <!-- <p>Experiências com o programa de mobilidade acadêmica virtual discente UniRede e expectativas futuras</p> -->
                <br>
                <!-- <p>Prof. Dr. Alexandre Martins dos Anjos – UNIREDE</p> -->
                <br>
                <!-- <p>Mediadora: Profa. Dra. Lívia Fernanda Nery da Silva – UFPI</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>17h</time></div>
              <div class="col-md-10">
                <h4>Palestra - A Formação de Professores para o Novo Ensino Médio</h4>
                <a href="https://www.youtube.com/user/ceadufpi" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <!-- <p>Maria Rita do CTT - A Formação de Professores para o Novo Ensino Médio</p> -->
                <br>
                <!-- <p>Profa. Dra. Fernanda Chocron Miranda – UFPA</p> -->
                <br>
                <!-- <p>Mediadora: Profa. Dra. Keylla Maria de Sá Urtiga Aita – UFPI</p> -->
              </div>
            </div>

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>15h às 16h</time></div>
              <div class="col-md-10">
                <h4>Palestra</h4>
                <a href="https://youtu.be/c6A5nE96zxc" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <p>A autorreflexão como ferramenta na formação de políticas institucionais em competências digitais</p>
                <br>
                <p>Profa. Dra. Andreia Inamorato</p>
                <span>Joint Research Centre - European Commission</span>
                <br>
                <p>Mediador: Prof. Dr. Leonardo Ramon Nunes de Sousa – UFPI</p>
              </div>
            </div> -->

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>16h às 17h30min</time></div>
              <div class="col-md-10">
                <h4>Mesa de Debates</h4>
                <a href="https://youtu.be/h3-vkja2S6Y" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <p>Educação a Distância a partir da pandemia da Covid19: formas novas de ensinar e aprender</p>
                <br>
                <p>Prof. Dr. Eliesé Rodrigues – CEAD/UFPI</p>
                <p>Profa. Dra. Tânia Cristina Meira Garcia – UFRN</p>
                <p>Profa. Ma. Márcia Rangel – UFBA</p>
                <br>
                <p>Mediador: Prof. Dr. José Vanderlei Carneiro</p>
              </div>
            </div> -->
            
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

            <div class="row schedule-item">
              <div class="col-md-2"><time>15h às 16h</time></div>
              <div class="col-md-10">
                <h4>Mesa Redonda: Curricularização da extensão - Fundamentos e Possibilidades nos projetos pedagógicos dos cursos PRIL</h4>
                <a href="https://www.youtube.com/user/ceadufpi" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <!-- <p>Como configurar, organizar conteúdo e transmitir eventos em educação utilizando os recursos da plataforma zoom</p> -->
                <br>
                <!-- <p>Marcos Savio</p> -->
                <!-- <span>Especialista em gestão educacional em redes</span> -->
                <br>
                <!-- <p>Mediador: Esp. Everton Gomes Dias - UFPI</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>16h30min</time></div>
              <div class="col-md-10">
                <h4>Oficina: Planejamento e avaliação a proposta de cursos PRIL</h4>
                <a href="https://www.youtube.com/user/ceadufpi" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <!-- <p>Diferenças e aplicações de cada plataforma conforme o objetivo da atividade/evento, integração com redes sociais e dicas de otimização dos recursos disponíveis em cada uma.</p> -->
                <br>
                <!-- <p>Prof. Dr. Cledinaldo Leal</p> -->
                <!-- <p>Prof. Dr. Eliesé Rodrigues</p> -->
                <!-- <span>Capacitadores de Recursos e Tecnologias Virtuais (TDIC) - CEAD/UFPI</span> -->
                <br>
                <!-- <p>Mediador: Prof. Me. Florisvaldo Clementino Santos – UFPI</p> -->
              </div>
            </div>

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>14h30min às 16h</time></div>
              <div class="col-md-10">
                <h4>Oficina 3: Recursos educacionais digitais e acessibilidade</h4>
                <a href="https://youtu.be/d5xbzZtd2jg" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <p>Lael Nervis</p>
                <span>Técnico de Tecnologia da Informação</span>
                <br>
                <span>Centro Tecnológico de Acessibilidade – IFRS</span>
                <br>
                <p>Mediadora: Profa. Ma. Claudete Silva – IFPI</p>
              </div>
            </div> -->

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>16h às 17h30min</time></div>
              <div class="col-md-10">
                <h4>Oficina 4: Aspectos práticos para produção de vídeo aulas para não especialistas</h4>
                <a href="https://youtu.be/uYv7FhajRz4" target="_blank" style="color: blue; font-weight: bold;">Acesse</a>
                <br>
                <br>
                <p>Esta oficina tem o propósito de oferecer um contato com ferramentas para produção de vídeo aulas de maneira simples e objetiva. Buscaremos mostrar algumas ferramentas simples de gravação utilizando um telefone celular ou um computador para gravação de áudio e vídeo, tentando minimizar etapas de edição. Outro ponto importante em uma vídeo aula é a melhoria na qualidade do áudio. Mostraremos algumas opções e sugestões de programas e equipamentos para que o professor possa produzir suas aulas sozinho e com qualidade aceitável.</p>
                <br>
                <p>Prof. Dr. Jonathan Martins – CEAD/UFPI</p>
                <br>
                <p>Mediadora: Profa. Ma. Elys Raquel Andrade Ferreira Borges</p>
              </div>
            </div> -->

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>17h30min</time></div>
              <div class="col-md-10">
                <h4>Encerramento</h4>
              </div>
            </div> -->

            <!-- <div class="row schedule-item">
              <div class="col-md-2"><time>18h</time></div>
              <div class="col-md-10">
                <h4>Reunião final com Comissão Organizadora (restrita aos componentes da Comissão)</h4>
              </div>
            </div> -->
            
          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>

    <!--==========================
      Speakers Section
    ============================-->
    
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Palestrantes e Convidados</h2>
        </div>

          <div class="row">
              {% for palestrante in palestrantes %}
            <div class="col-lg-4 col-md-6">
              <div class="speaker">
                <img src="{{ palestrante.imagem }}" alt="{{ palestrante.nome }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain">
                <div class="details">
                  <h3><a href="detalhes-palestrante/?palestrante={{ palestrante.imagem }}">{{ palestrante.nome }}</a></h3>
                  <br>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

      </div>

    </section>

    <!--==========================
      Buy Ticket Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Inscrição</h2>
          <p>A participação no evento gerará um certificado de 15 horas, que só será emitido mediante inscrição.</p>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  <p>Prazo de inscrições: 26/02/2022 a 03/03/2022</p>
                </h5>
                <hr>
                <div class="text-center">
                  {% if ajustes.inscricoes_ativas %}
                    <button type="button" class="btn" style="background-color: #fccd2c;" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="standard-access">Inscreva-se</button>
                  {% else %}
                    <strong>INSCRIÇÕES ENCERRADAS</strong>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      {% if ajustes.inscricoes_ativas %}
        <!-- Modal Order Form -->
        <div id="buy-ticket-modal" class="modal fade">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Inscrição</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="inscricao">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="instituicao" placeholder="Instituição" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="cpf" placeholder="CPF" required>
                  </div>
                  <div class="form-group">
                    <select id="tipo-usuario" name="tipo-usuario" class="form-control" required>
                      <option value="">Tipo de Usuário</option>
                      <option value="Estudante Graduação">Estudante Graduação</option>
                      <option value="Estudante de Pós-Gradução">Estudante de Pós-Gradução</option>
                      <option value="Docente">Docente</option>
                      <option value="Outros Profissionais">Outros Profissionais</option>
                    </select>
                  </div>
                  <!-- <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="termos" name="termos" onclick="$('#termos').is(':checked') ? $('#botao-inscricao').removeAttr('disabled') : $('#botao-inscricao').attr('disabled', '')">
                      <label class="form-check-label" for="termos">Você concorda com todes es termes.</label>
                    </div>
                  </div> -->
                  <div class="text-center">
                    <button type="submit" class="btn" id="botao-inscricao">Inscrever-se</button>
                  </div>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      {% endif %}

    </section>

  </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contatos</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Endereço</h3>
              <address>
                Centro de Educação Aberto e a Distância - CEAD/UFPI
                <br>
                Rua Olavo Bilac, 1148 - Bairro Centro - Teresina - PI - CEP: 64.001-280
              </address>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Telefone</h3>
              <p><a href="tel:+558632154101">(86) 3215-4101</a></p>
            </div>
          </div> -->
          
          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Redes Sociais</h3>
              <a href="https://www.instagram.com/ceadufpi/" class="instagram" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>E-mail</h3>
              <p><a href="mailto:ascomcead@ufpi.edu.br">ascomcead@ufpi.edu.br</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

{% endblock %}
